:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Pretendard',
    'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ffffff;
  color: #222222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
