/* src/index.css */
:root {
  /* 폰트 설정 등 전역 변수만 남김 */
  font-family: 'Pretendard Regular', sans-serif; /* 기본 폰트 설정 */
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* display: flex;  <-- 이 부분이 있다면 반드시 삭제하거나 주석 처리 */
  /* place-items: center; <-- 이 부분도 삭제 */
}